body{
    background-color: white;
    color: azure;
    font-family: "Gill Sans","Gill sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h1 {
    background-color: rgb(89, 18, 155);
    -webkit-text-stroke: 2px rgb(244, 96, 101);
    text-align: center;
    border-radius: 10px;
}
h2 {
    background-color: rgb(109, 100, 237);
    border: 2px solid wheat;
    border-radius: 10px;
}
h3 {
    color:rgb(255, 0, 21)
}
audio {
    Width : 50%;
    box-shadow: 20px -10px 10px palevioletred;
    border-radius: 40px;
} 
del {
    background-color: darkorange;
    color:rgb(89, 18, 155)
}
ins {
    color:rgb(244, 96, 101)
}
video {
    box-shadow: 20px 40px 70px rgb(96, 244, 217) ;
    border-radius: 25px;
    border: 2px salmon;
}
img {
  border-radius: 25px;
  box-shadow: 20px 20px 70px violet;
  border:rgb(96, 244, 217);
}
mark {
    color:rgb(96, 244, 217);
}
p {
    color: black;
}





     
 



